{{>licenseInfo}}

import {{apiPackage}}._
import javax.servlet.ServletContext
import org.scalatra.LifeCycle

class ScalatraBootstrap extends LifeCycle {

  override def init(context: ServletContext) {
    try {
      {{#apiInfo}}{{#apis}}context mount (new {{classname}}, "/{{baseName}}")
      {{/apis}}{{/apiInfo}}
      context mount (new JSONDocResource, "/api-docs/*")
    } catch {
      case e: Throwable => e.printStackTrace()
    }
  }
}